<section class="jumbotron text-center" >
  <h2 class="display-4">Clinics</h2>
</section><br>

<section class="container">
  <% if flash[:message] %>
    <div class="alert alert-danger" role="alert"><%= flash[:message] %></div>
  <% end %><br>
  <% @clinics.each do |clinic| %>
    <h4 class="font-weight-light"><strong>Clinic: </strong><%= link_to clinic.name, clinic_path(clinic) %></h4>
  <% end %><br>
  <h4 class="font-weight-light">Click <%= link_to "here", donor_path(@donor) %> to go back to your details.</h4><br><br>
</section>