<section class="jumbotron text-center" >
    <h2 class="display-4">Clinics</h2>
</section><br>

<section class="container">
  <ul>
    <% @clinics.each do |clinic| %>
      <li><h4 class="font-weight-light"><strong>Clinic: </strong><%= link_to clinic.name, clinic_path(clinic) %></h4></li>
    <% end %>
  </ul>
</section><br>