<section class="jumbotron text-center" >
    <h2 class="display-4">Clinics</h2>
</section><br>

<section class="container">
    <% @clinics.each do |clinic| %>
      <h4 class="font-weight-light"><strong>Clinic: </strong><%= link_to clinic.name, clinic_path(clinic) %></h4>
    <% end %><br>
    <h4><%= link_to "Go back to see your details.", donor_path(@donor) %></h4><br><br>
</section>