<section class="jumbotron text-center" >
  <h2 class="display-4">Clinics</h2>
</section><br>

<section class="container text-left">
  <% @clinics.each do |clinic| %>
    <h4 class="font-weight-light"><strong>Clinic: </strong><%= link_to clinic.name, clinic_path(clinic) %></h4>
  <% end %><br>
  <h4 class="font-weight-light text-center">Click <%= link_to "here", donor_path(@donor) %> to go back to your details.</h4><br><br>
</section>