<h2>Clinics</h2>
<br><br>
<ul>
  <% @clinics.each do |clinic| %>
    <li><%= link_to clinic.name, clinic_path(clinic) %></li>
  <% end %>
</ul>

<button class="btn btn-outline-primary">
<%= link_to "Sign Out", signout_path, method: :delete %></button>