<section class="jumbotron text-center" >
    <h2 class="display-4">Clinic's Details</h2>
</section><br>

<section class="container">
    <h4 class="font-weight-light"><strong>Name: </strong><%= @clinic.name %></h4>
    <h4 class="font-weight-light"><strong>State: </strong><%= @clinic.state %></h4>
</section><br>

<button class="btn btn-outline-primary">
<%= link_to "Sign Out", signout_path, method: :delete %></button>