<section class="jumbotron text-center" >
    <h2 class="display-4">Clinic's Details</h2>
</section><br>

<h3>Name: <%= @clinic.name %></h3>
<h3>State: <%= @clinic.state %></h3>

<button class="btn btn-outline-primary">
<%= link_to "Sign Out", signout_path, method: :delete %></button>