<section class="jumbotron text-center" >
    <h2 class="display-4">Your Appointments</h2>
</section><br>

<ul>
  <% @donor.appointments.each do |appt| %>
    <li><%= appt.datetime %></li>
  <% end %>
</ul>

<section class="container text-center">
  <button class="btn btn-outline-primary">
    <%= link_to "Sign Out", signout_path, method: :delete %>
  </button>
</section>