<h1>Your Appointments</h1>

<ul>
  <% @donor.appointments.each do |appt| %>
    <li><%= appt.datetime %></li>
  <% end %>
</ul>

<button class="btn btn-outline-primary">
<%= link_to "Sign Out", signout_path, method: :delete %></button>