<section class="jumbotron text-center" >
    <h2 class="display-4">New Appointment</h2>
</section><br>

<%= render 'form' %>

<section class="container text-center">
    <h4 class="font-weight-light">Click <%= link_to "here", donor_path(@appointment.donor_id) %> to go back to your details.</h4><br><br>
</section>

