<h1>New Appointment</h1>
<br>
<h2>Choose the Clinic where you would like to make your blood donation:</h2>
<h2>New Appointment</h2>
<br><br>
<%= form_for @appointment do |f| %>
    <%= f.label :name, "Choose a Clinic:" %><br>
    <%= f.collection_select(:id, @clinics, :id, :name) %><br>

    <%= f.submit "Create Appointment"  %>
<% end %> 